[Desktop Entry]
Name=qABCs
GenericName=Alphabet
GenericName[ru]=Алфавит
GenericName[uk]=Абетка
Comment=Learn alphabet
Comment[ru]=Изучение алфавита
Exec=qabcs
Icon=qabcs
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Languages;
Keywords=abc;learn;alphabet;educational;edu;lang;language
