[Desktop Entry]
Name=qABCs
GenericName=Alphabet
Comment=Learn alphabet
Exec=qabcs
Icon=qabcs
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Languages;
Keywords=abc;learn;alphabet;educational;edu;lang;language


# Translations
Comment[ru]=Изучение алфавита
GenericName[ru]=Алфавит
GenericName[uk]=Абетка
