[Desktop Entry]
Name=qABCs
GenericName=Alphabet
Comment=Learn alphabet
Exec=qabcs
Icon=qabcs
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Languages;
Keywords=abc;learn;alphabet;educational;edu;lang;language


# Translations
Comment[de]=Lerne das Alphabet
GenericName[de]=Alphabet
Comment[he]=לימוד אלפבית
GenericName[he]=אלפבית
Comment[hi]=अक्षर सीखें
GenericName[hi]=अक्षर
Comment[pl]=Naucz się alfabetu
GenericName[pl]=Alfabet
Comment[pt]=Aprender o alfabeto
GenericName[pt]=Alfabeto
Comment[pt_BR]=Aprenda o alfabeto
GenericName[pt_BR]=Alfabeto
Comment[bg]=Научете азбуката
GenericName[bg]=Азбука
Comment[is]=Lærðu stafrófið
GenericName[is]=Stafróf
Comment[cs]=Nauč se abecedu
GenericName[cs]=Abeceda
Comment[sv]=Lär dig alfabetet
GenericName[sv]=Alfabet
Comment[ru]=Изучение алфавита
GenericName[ru]=Алфавит
Comment[et]=Tähestiku õppimine
GenericName[et]=Tähestik
Comment[uk]=Вивчення абетки
GenericName[uk]=Абетка
Comment[ms]=Pelajari abjad
GenericName[ms]=Abjad
Comment[fr]=Apprendre l'alphabet
GenericName[fr]=Alphabet
Comment[nl]=Leer het alfabet
GenericName[nl]=Alfabet
